/* Light mode colors (default) */
:root {
  --background-color: #ffffff;
  --secondary-background-color: #ffffff;
  --background-accent-color: #ffffff;
  --text-color: #000000;
  --link-color: #0000ee;
  --button-bg-color: #61affe;
  --button-text-color: #000000;
  --button-border-color: #cccccc;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e2129;
    --secondary-background-color: #009485;
    --background-accent-color: #006e63;
    --text-color: #ffffff;
    --button-bg-color: #00766a;
    --button-text-color: #ffffff;
    --button-border-color: #555555;
    --boarder-color: #00b8d4;
    --link-color: #00ccb8;
    --link-color-hover: #fa0;
    --header-color: #1b313b;
  }

  body {
      background-color: #1e2129;
    }
  
  .arrow {
      fill: #00b8d4;
    }
}

.swagger-ui {
  color: var(--text-color);
}

.swagger-ui .opblock-tag {
  color: var(--text-color);
}

.swagger-ui .opblock-tag small {
  color: var(--text-color);
}

.swagger-ui .parameter__type {
  color: var(--text-color);
}

.swagger-ui .opblock .opblock-section-header {
  background: var(--header-color);
}

.swagger-ui .opblock .opblock-section-header>label {
  color: var(--text-color);
}

.swagger-ui .opblock .opblock-section-header h4 {
  color: var(--text-color);
}

.swagger-ui .opblock .opblock-summary-operation-id,.swagger-ui .opblock .opblock-summary-path,.swagger-ui .opblock .opblock-summary-path__deprecated {
  color: var(--text-color);
}

.swagger-ui .opblock .opblock-summary-description {
  color: var(--text-color);
}

.swagger-ui .opblock.opblock-get {
  background: var(--background-color);
  border-color: var(--boarder-color);
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: var(--button-bg-color);
}

.swagger-ui .opblock.opblock-get .opblock-summary {
  border-color: var(--boarder-color);
}

.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after {
  background: var(--boarder-color);
}

.swagger-ui .tab li {
  color: var(--text-color);
}

.swagger-ui .opblock-description-wrapper,.swagger-ui .opblock-external-docs-wrapper,.swagger-ui .opblock-title_normal {
  color: var(--text-color);
}

.swagger-ui .opblock-description-wrapper h4,.swagger-ui .opblock-external-docs-wrapper h4,.swagger-ui .opblock-title_normal h4 {
  color: var(--text-color);
}

.swagger-ui .opblock-description-wrapper p,.swagger-ui .opblock-external-docs-wrapper p,.swagger-ui .opblock-title_normal p {
  color: var(--text-color);
}

.swagger-ui .responses-inner h4,.swagger-ui .responses-inner h5 {
  color: var(--text-color);
}

.swagger-ui .response-col_status {
  color: var(--text-color);
}

.swagger-ui .response-col_links {
  color: var(--text-color);
}

.swagger-ui .scheme-container {
  background: var(--secondary-background-color);
}

.swagger-ui .scheme-container .schemes>.schemes-server-container>label {
  color: var(--text-color);
}

.swagger-ui .loading-container .loading:after {
  color: var(--text-color);
}

.swagger-ui section h3 {
  color: var(--text-color);
}

.swagger-ui .btn {
  color: var(--text-color);
}

.swagger-ui select {
  background-color: var(--background-accent-color);
  color: var(--text-color);
}

.swagger-ui label {
  color: var(--text-color);
}

.swagger-ui textarea {
  color: var(--text-color);
}

.swagger-ui textarea:focus {
  border: 2px solid var(--boarder-color);
}

.swagger-ui .checkbox p {
  color: var(--text-color);
}

.swagger-ui .dialog-ux .modal-ux-content p {
  color: var(--text-color);
}

.swagger-ui .dialog-ux .modal-ux-content h4 {
  color: var(--text-color);
}

.swagger-ui .dialog-ux .modal-ux-header h3 {
  color: var(--text-color);
}

.swagger-ui .model {
  color: var(--text-color);
}

.swagger-ui .servers>label {
  color: var(--text-color);
}

.swagger-ui table.headers td {
  color: var(--text-color);
}

.swagger-ui table thead tr td,.swagger-ui table thead tr th {
  color: var(--text-color);
}

.swagger-ui .parameter__name {
  color: var(--text-color);
}

.swagger-ui .info li,.swagger-ui .info p,.swagger-ui .info table {
  color: var(--text-color);
}

.swagger-ui .info h1,.swagger-ui .info h2,.swagger-ui .info h3,.swagger-ui .info h4,.swagger-ui .info h5 {
  color: var(--text-color);
}

.swagger-ui .info a {
  color: var(--link-color);
}

.swagger-ui .info a:hover {
  color: var(--link-color-hover);
}

.swagger-ui .info .base-url {
  color: var(--text-color);
}

.swagger-ui .info .title {
  color: var(--text-color);
}

.swagger-ui .auth-container .errors {
  color: var(--text-color);
}

.swagger-ui .scopes h2 {
  color: var(--text-color);
}

.swagger-ui .errors-wrapper .errors h4 {
  color: var(--text-color);
}

.swagger-ui .errors-wrapper hgroup h4 {
  color: var(--text-color);
}

.swagger-ui .json-schema-2020-12-keyword__name--primary {
  color: var(--text-color);
}
.swagger-ui .json-schema-2020-12-keyword__value--primary {
  color: var(--text-color);
}

.swagger-ui .json-schema-2020-12-keyword__value--const,.swagger-ui .json-schema-2020-12-keyword__value--warning {
  color: var(--text-color);
}

.swagger-ui .json-schema-2020-12__attribute {
  color: var(--text-color);
}

.swagger-ui .json-schema-2020-12-property .json-schema-2020-12__title {
  color: var(--text-color);
}

.swagger-ui .json-schema-2020-12__constraint {
  color: var(--text-color);
}